<div class="">
	<nav class="">
		<a href="{{ path('home') }}">Home</a>
		<a href="{{ path('home') }}">Категории</a>
		{% if user.getRole() == 2 %}
			<a href="{{ path('create_pizza_form') }}">Добавить пиццу</a>

		{% endif %}
	</nav>
</div>
