.title {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 38px;
}

.title>img {
  width: 64px;
  height: 64px;
}

.title>h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #472658;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 17px;
}

.profile {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 10px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile_avatar {
  width: 76px;
  height: 76px;
  background: #FFFFFF;
  border-radius: 90px;
}


.assortimentBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
  gap: 20px;
}

.assortimentItem {
  border: 3px solid #A7ED43;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 220px;
  max-height: 525px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px;
}

.assortimentItem>img {
  width: 200px;
  height: 200px;
}

.pizzaInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pizzaInfo_title {
  margin-top: 12px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.pizzaInfo_structure {
  margin-top: 8px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #626262;
}

.pizzaInfo_description {
  margin-top: 8px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #626262;
}

.pizzaInfo_cost {
  margin-top: 8px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #626262;
}