.orderForm {
  display: flex;
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 47%;
  left: 0;
  margin: auto;
  height: fit-content;
}

#shading {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.863);
  justify-content: center;

  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.munuButtonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.munuButton {
  display: flex;
  flex-direction: row;
  background-color: #A7ED43;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  height: 30px;
  cursor: pointer;
  border: 2px solid rgb(85, 167, 22);
  border-radius: 24px;
  align-items: center;
}

.munuButton_L {
  border-radius: 24px 0 0 24px;
}

.munuButton_C {
  border-radius: 0;
}

.munuButton_R {
  border-radius: 0 24px 24px 0;
}

.munuButton>img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.munuButton:hover {
  background-color: rgb(227, 164, 27);
  transition: 0.5s;
}

.basketBlock {
  display: flex;
  flex-direction: row;
  min-width: 30%;
  justify-content: space-between;
  align-items: center;
}

.basket {
  height: fit-content;
  width: 100px;
  border: 2px solid rgb(85, 167, 22);
  border-radius: 12px;
  padding: 5px 5px 7px 5px;
}

.basket>p {
  overflow: overlay;
  max-height: 55px;
}

.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: end;
}

.logo>img {
  width: 60px;
  height: 60px;
}

.logo>h1 {
  color: rgb(227, 164, 27);
  font-size: 30px;
}

.logoutButton {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgb(85, 167, 22);
  border-radius: 24px;
  align-items: center;
  width: 75px;
}

.logoutButton>a {
  text-decoration: none;
  color: black;
  margin: auto;
}

.unVisible {
  visibility: hidden;
}

.unVisibleDisplay {
  display: none;
}

.basket>p::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.basket>p::-webkit-scrollbar-thumb {
  background-color: rgb(85, 167, 22);
  border-radius: 4px;
  border: 1px solid #A7ED43;
}

.basket>p::-webkit-scrollbar-track {
  background: #A7ED43;
}

.userBlock {
  display: flex;
  flex-direction: column;
  width: 20%;
  overflow-x: scroll;
}

.userBlock::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.userBlock::-webkit-scrollbar-thumb {
  background-color: rgb(85, 167, 22);
  border-radius: 4px;
  border: 1px solid #A7ED43;
}

.userBlock::-webkit-scrollbar-track {
  background: #A7ED43;
}

@media screen and (max-width: 1150px) {
  nav {
    flex-direction: column;
  }
}