{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="../styles/pizzaCatalogStyle.css">
	<link rel="stylesheet" href="../styles/pizzaWrapperStyle.css">
{% endblock %}

{% block header %}
{# {{parent()}} #}
{% endblock %}

{% block content %}
	<main>
		<h1>Спасибо за заказ!</h1>
	</main>
{% endblock %}

{% block footer %}
{% endblock %}
