.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: bisque;
  padding: 20px;
  border: 5px solid #00A8E8;
  border-radius: 24px;
  width: 40%;
}

.elem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.gend {
  display: flex;
  flex-direction: column;
  width: 170px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.gendItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.gendItemInput {
  width: 20px;
}

input {
  height: 20px;
  width: 170px;
}

img {
  border-radius: 300px;
  width: 50px;
  height: 50px;
  position: relative;
  top: 25px;
}